.valor{
    width: 20rem;
    margin: auto;
}

.total{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

